 #contact{
    height: 100vh; 
    /* margin: auto 0; */
    /* position: relative; */
    width: 80%;
    margin: auto;
}

.contact-content{

padding-top: 13rem;
 display: flex;
 flex-direction: column;
 gap: 40px;

 /* height: 100%;  */
 /* position: absolute;  */
 /* left: 0;  */
 /* margin: auto; */

}

.contact-content p{
    font-size: 1.5rem;

}
.socials{
    display: flex;
    margin: 0 auto;
    padding: 30px;
    gap: 50px;
}

#contact h1{
    font-size: 3rem;
}
#contact a{
    text-decoration: underline;
    color: cadetblue;
}
#contact a:hover {
    color: white;
    /* font-size: 1.6rem; */

}
.copyright{
    font-size: 1rem;
    color: grey;
}