#projects{
  /* height: 100vh; */
  width: 80%;
  margin: auto;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 50px;
    /* margin: 20rem 10rem 0 10rem; */
}

.project-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 40px;
    margin: auto;
    box-shadow: 0.8px 0.5px 2px  cadetblue;
    border-radius: 20px;
    /* height: 500px; */
    /* width: 50%; */


    
}
.project-card:hover{
  transform: translateY(-10px) ;
  transition:  0.7s ease-out  ;
}

.project-card img{
    /* height: 100%; */
    background-size: cover;
    border-radius: 1rem;
    width: 100%;
}

#projects p{
    /* width: 50%; */
    /* text-transform: uppercase; */
    text-align: left;
}

.project-heading{
    text-transform: uppercase;
}

.project-about {
    /* font-size: 1.5rem; */
    color: grey;
    text-transform: capitalize;
}

.project-url{
    font-size: 1.5rem;    
    color: cadetblue;
}

.project-tech{
    padding: 20px 10px;
    
}

/* .project-tech p {
    margin-bottom: 20px;
    font-size: 20px;
} */

.card3{
    margin-bottom: 80px;
}


@media screen and (max-width : 1040px){
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    margin: auto;
    
}


.project-card{
    font-size: 1rem;
    width: 100%
}

.project-about {
    font-size: 1rem;
}

.project-url{
    font-size: 1rem;    
    color: cadetblue;
}

.project-tech{
    padding: 10px 10px;

}





}